*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial,sans-serif;
	color: #222;
	min-width: 1000px;

}

#main-container{
	width: 75%;
	margin: auto;
	text-align: center;
	margin-top: 89px;
	min-width: 160px;
	border: 0px solid red;
}

#logo-div{
	margin: 0 5%;
	margin-bottom: 15px;
	border: 0px solid green;
}

#logo{
	width: 300px;
	height: 56px;
	padding-top: 109px;
}

#container{
	width: 90%;
	margin: auto;
	border: 0px solid blue;
}

#container input[type="submit"], input[type="button"] {
	height: 30px;
	background: DodgerBlue;
	border: 1px solid #f2f2f2;
	color: #fff;
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;
	height: 36px;
	line-height: 27px;
	font-weight: bold;
}


#myInput {
  background-color: lightgrey;
  position: relative;
  width: 650px;
	height: 34px;
	font: 16px arial, sans-serif;
	 border: 0px solid black;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  min-width:650px !important;
  margin:auto;
}

.autocomplete-items div {
  background-color: #fff; 
  min-width:650px;
  height: 34px;
  position: relative;
  padding-top:5px;
  box-sizing: border-box;
}

#myInputautocomplete-list{
	min-width: 100%;
	position: absolute;
	margin:auto;
	left:0;
	right:0;
}




.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: lightgrey !important; 
  color: black; 
}






#container input[type="submit"]:hover, input[type="button"]:hover {
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

#container p{
	font-size: small;
	margin-top: 15px;
	line-height: 28px;
	font-size: 13px;
}

#container p a{
	padding: 0 3px;
	color: #1a0dab;
	text-decoration: none;
}


#container p a:hover {
	text-decoration: underline;
	}

#container p a:visited{
	color: #609;
}

#container p a:active{
	color: ##1a0dab;
}

/*

@media(max-width: 669px){
	#main-container{
		width: 95%;
		margin-top: 25px;
	}

	#logo{
	width: 60%;
	height: auto;
	}

	#container input[type="text"]{
		width: 90%;
		height: 29px;
	}

}
*/